# Core
kafka-python==2.0.2
pymerkle==6.1.0
prometheus-client==0.20.0
python-dotenv==1.0.1

# ML Baselines
scikit-learn==1.5.0
numpy==2.0.0
pandas==2.2.2

# Load Testing
locust==2.29.1

# Utilities
rich==13.7.1
tqdm==4.66.4
psutil==6.0.0
